
.vil{

    text-align: center;
}

.payat{
    
    text-align: center;
}

body {
    margin: 50;
     background-image: url(nice-background.jpg);  
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    position: absolute;
    top: 10%;
    left: 10%;

}
.damn{

    text-align: center;
     font-size: 1.6em;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.5em;

    
}
.darn{

    text-align: center;
    
    font-size: 1.5em;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.5em;
    
}
.right{

    width: 50%;
    float:right;
  

}
.good{

    text-align: center;
}

.ayaw{

    text-align: center;
    
    font-size: 1.6em;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.5em;
}
.right1{

     width: 50%;
    float:right;
}
.left{

    width: 50%;
        float:left;
    

} 
